body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
  }

  h1 {
    margin-bottom: 30px;
  }

  button {
    background-color: blue;
    border-radius: 5px;
    padding: 10px 20px;
  }
